<header class="header">
  <!-- Navigation container -->
  <nav class="nav-container">
    <!-- Brand logo -->
    <a href="#" class="brand-logo" tabindex="0">
      <img src="../../assets/Component-1.png" alt="Company Logo" class="brand-image">
    </a>

    <!-- Navigation links -->
    <div class="nav-links">
      <!-- Partner with Us link -->
      <div class="language-selector" tabindex="0" role="button">
        <a href="#" class="nav-item" tabindex="0">Partner with Us</a>
        <img src="../../assets/Icon.png" alt="Language Selector" class="partner-icon">
      </div>

      <!-- About Us link -->
      <a href="#" class="nav-item" tabindex="0">About Us</a>

      <!-- Language selector -->
      <div class="language-selector" tabindex="0" role="button">
        <img src="../../assets/world.png" alt="Language Selector" class="language-icon">
        <a href="#" class="language-text">English</a>
      </div>

      <!-- Additional images or links -->
      <a href=""><img loading="lazy" src="../../assets/frame-7x3.png" class="img-4" /></a>
      <a href=""><img loading="lazy" src="../../assets/frame-aRV.png" class="img-5" /></a>

      <!-- Login button -->
      <button class="login-button" tabindex="0">Login</button>
    </div>
  </nav>
</header>