<div class="card-plan">
    <!-- Plans Header -->
    <div class="plans-header">
        <h3>Here are the best plans for you…</h3>
    </div>
    
    <!-- Plan Card 1 -->
    <section class="package">
        <div class="package-content">
            <!-- Benefits Section -->
            <div class="benefits">
                <img loading="lazy" src="../../assets/frame-9t3.png" class="feature-icon" alt="Data Icon" />
                <img loading="lazy" [src]="countryFlag" class="flag-icon" alt="country flag" />
                <div class="location">{{countryName | uppercase}}</div>
                <div class="audience">FOR YOU</div>
            </div>
            
            <!-- Package Title -->
            <div class="package-title">PACK</div>
            
            <!-- Features Section -->
            <div class="features">
                <div class="feature">
                    <img loading="lazy" src="../../assets/wifi.png" class="feature-icon" alt="Data Icon" />
                    <div class="feature-description">5 GB</div>
                </div>
                <div class="feature">
                    <img loading="lazy" src="../../assets/phone.png" class="feature-icon" alt="Call minutes icon" />
                    <div class="feature-description">20 min</div>
                </div>
                <div class="feature">
                    <img loading="lazy" src="../../assets/message.png" class="feature-icon" alt="SMS Icon" />
                    <div class="feature-description">50 sms</div>
                </div>
            </div>
            
            <!-- Footer Section -->
            <footer class="package-footer">
                <div class="validity">
                    <div class="validity-title">VALIDITY</div>
                    <div class="validity-duration">7 days</div>
                </div>
                <div class="package-price">$9</div>
            </footer>
        </div>
    </section>

    <br><br>

    <!-- Plan Card 2 -->
    <section class="package-2">
        <div class="package-content">
            <!-- Benefits Section -->
            <div class="benefits">
                <img loading="lazy" src="../../assets/frame-9t3.png" class="feature-icon" alt="Data Icon" />
                <img loading="lazy" [src]="countryFlag" class="flag-icon" alt="country flag" />
                <div class="location">{{countryName | uppercase}}</div>
                <div class="audience-2">BEST PRICE</div>
            </div>
            
            <!-- Package Title -->
            <div class="package-title">PACK</div>
            
            <!-- Features Section -->
            <div class="features">
                <div class="feature">
                    <img loading="lazy" src="../../assets/wifi.png" class="feature-icon" alt="Data Icon" />
                    <div class="feature-description">5 GB</div>
                </div>
                <div class="feature">
                    <img loading="lazy" src="../../assets/phone.png" class="feature-icon" alt="Call minutes icon" />
                    <div class="feature-description">NA</div>
                </div>
                <div class="feature">
                    <img loading="lazy" src="../../assets/message.png" class="feature-icon" alt="SMS Icon" />
                    <div class="feature-description">NA</div>
                </div>
            </div>
            
            <!-- Footer Section -->
            <footer class="package-footer">
                <div class="validity">
                    <div class="validity-title">VALIDITY</div>
                    <div class="validity-duration">7 days</div>
                </div>
                <div class="package-price">$9</div>
            </footer>
        </div>
    </section>
</div>
